{{#each answers as |answer|}}
  <li>{{answer.text}} -{{answer.author}}
    <span class="glyphicon glyphicon-thumbs-up" {{action 'upvote' answer}}></span>
    <span class="glyphicon glyphicon-thumbs-down" {{action 'downvote' answer}}></span> </li>
{{/each}}
