<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stack UnderFlow</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'index'}}About{{/link-to}}</li>
      <li>{{#link-to 'index'}}Contact{{/link-to}}</li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<div class="container">
  {{outlet}}
</div>
