<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Stack UnderFlow{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'index'}}Questions{{/link-to}}</li>
      <li>{{#link-to 'favorites'}}Favorites{{/link-to}}</li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<div class="container">
  {{outlet}}
</div>
